/* Navbar.css */

.navigation {
  background-color: #000;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    
  }
  
  .hamburger-menu {
    cursor: pointer;
    display: none;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
  }
  .logo img {
    width: 70%;
  }
  /* Media Query for Small Screens */
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 58px;
      left: 0;
      width: 100%;
      height: auto;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: #333;

    }

    .btn_primary {
      background-color: #333;
      padding: 0;
    }
  
    .nav-links.mobile-menu-open {
      display: flex;
    }
  
    .hamburger-menu {
      display: block;
    }
    .logo img {
      width: 60%;
    }
  }
  