.projects_main {
    margin-top: 80px;

}

.project_main {
    border-top: 1px solid #333;
    padding-bottom: 30px;
}

.type {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: 1px solid lightgray;
    padding: 5px 10px;
    border-radius: 30px;
    margin-left: 20px;
}

.vite {
    margin-left: 0;
    background-color: orange;
}
.react {
    background-color: lightskyblue;
}
.graphql {
    background-color: purple;
}

.nodejs {
    background-color: green;
}

.text_link {
    color: blue;
}

.project_main a:hover {
    text-decoration: underline;
}

.more_info {
    display: flex;
    gap: 10px;
}
.more_info .type {
    margin: 0;
}

@media screen and (max-width: 590px) {
    h2 span {
        display: block;

    }
    h2 .type {
        margin-left: 0;
        width: fit-content;
    }
    .more_info {
        display: grid;
        grid-template-columns: auto auto auto auto;

    }

}

@media screen and (max-width: 400px) {
    .more_info {
        grid-template-columns: auto auto auto;
    }
}