.projects_main {
    margin-top: 80px;

}

.project_main {
    border-top: 1px solid #333;
    padding-bottom: 30px;
}

.type {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: 1px solid lightgray;
    padding: 5px 10px;
    border-radius: 30px;
    margin-left: 20px;
}

.vite {
    margin-left: 0;
    background-color: orange;
}
.react {
    background-color: lightskyblue;
}
.graphql {
    background-color: purple;
}

.text_link {
    color: blue;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 590px) {
    h2 span {
        display: block;

    }
    h2 .type {
        margin-left: 0;
        width: fit-content;
    }
}